* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.adminmodal {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.adminmodal.active {
  opacity: 1;
  pointer-events: all;
  color: rgba(22, 19, 19, 0.774);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.adminmodal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: rgb(127, 123, 128);
  min-width: 40vw;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formChangeJewelry {
  display: flex;
  flex-direction: column;
  min-width: 500px;

  .label {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 5px;

    input,
    select,
    textarea {
      flex-grow: 1;
      padding: 5px;
      border: 1px;
      background-color: white;
    }
  }
}

textarea {
  resize: none;
}

.HashCont {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  .btnAdmin {
    border: 1px solid black;
    border-radius: 10px;
    min-width: 100px;
    height: 30px;
  }
  .hashContent {
    display: flex;
    flex-wrap: wrap;
    max-width: 290px;
  }

  .hashcontent {
    display: flex;
    /* min-width: 100px; */
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    button#btnHash {
      background-color: rgb(127, 123, 128);
      border: 0;
      margin-left: 5px;
      cursor: pointer;
      min-width: 15px;
      height: 15px;
    }
  }
}

.photoConteiner {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  flex-grow: 1;
  /* justify-content: space-between; */

  .photoContent {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-bottom: 5px;

    button {
      width: 20px;
      height: 20px;
      background-color: brown;
      border: 0;
      cursor: pointer;
    }
  }
}

.descriptionLabel {
  min-width: 130px;
  margin-right: 10px;
}

.stockAdmin {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.stockInput{
  height: 27px;
  margin-left: 5px;
  margin-top: 5px;
  flex-grow: 1;
}

.btnForm{
  margin-top: 15px;
  margin-left: 110px;
  display: flex;
  justify-content: space-between;
}

.apply{
  background-color: yellowgreen;
}
.change{
  background-color: yellow;
}

.del{
  background-color: rgba(223, 72, 72, 0.808);
}


.btnAdmin{
  width: 100px;
  height: 30px;
}

.errorMessageAdmin{
  font-size: 18px;
  color: rgba(207, 4, 4);
}