.jewelry-slider-container .slick-slide img {
  width: 100%;
  height: auto;
}

.jewelry-slider-container .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.jewelry-slider-container {
  width: 100%; /* Задаёт ширину контейнера под слайдер */
  margin: auto;
}

/* Стили контейнера для точек */
.slick-dots {
  bottom: -25px; /* Позиционирование под слайдером */
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
  width: 30px; /* управляет шириной "линий" */
  height: 2px; /* управляет "толщиной" линий */
  background: #ccc; /* цвет линий */
}

.slick-dots li.slick-active {
  background: #333333; /* цвет активной линии */
}
/* Стили для кнопок внутри точек (обычно невидимы) */
.slick-dots li button:before {
  content: ''; /* Убираем стандартный точечный символ */
  font-size: 0;
}

.jewelry-main-photo {
  display: block;
  width: 100%; /* Изображения будут занимать всю ширину слайда */
  height: auto; /* Высота изменяется пропорционально */
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay-top,
.text-overlay-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.text-overlay-top {
  top: 0;
}

.text-overlay-bottom {
  bottom: 0;
}

.no-photo {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 0px 0px 24px;
}

.pagination span {
  padding: 10px;
}

.jewelry-card h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.07em;
  padding-bottom: 40px;
  padding-left: 2%;
}

.jewelry-price {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  margin: 0px 0px 20px 0px;
}

.create-line {
  width: 95%;
  margin: 0px 2% 0px 2%;
  border-top: 1px solid black;
}

.jewelry-details__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
}

.jewelry-details__option-title {
  padding: 0px 2%;
  flex: 0 0 25%;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #818181;
  width: 25%;
}

.jewelry-details__option-value {
  flex: 0 0 75%;
  padding: 0px 2%;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn {
  padding: 26px 16px;
  display: flex; /* выставляем display на flex для правильного выравнивания */
  align-items: center; /* выравнивание по вертикали */
  justify-content: center; /* выравнивание по горизонтали */
  font-size: 18px;
  color: #fff;
  background: #000;
  width: 100%;
  border-radius: 0; /* убирается скругление углов */
  margin: 2% 2%; /* автоматический отступ с обеих сторон для горизонтального центрирования */
}

.product-details__buttons {
  display: flex;
  justify-content: center;
  align-items: center; /* убеждаемся, что align-items настроено правильно для центрирования дочерних элементов по вертикали */
}

.jewelry-details__text {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
  padding: 24px;
  line-height: 18px;
}

.jewelry-details__text .title {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

/* Медиа-запросы для адаптивной верстки */
@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}


.js-add-to-cart-form{
  display: flex;
  flex-direction: column;
}

.contsizeJewelryPage{
  width: 100%;
}
.sizeJewelryPage{
  padding: 0px 2%;
  margin-right: 3%;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  background-color: #fff;
}

.list{
  min-height: 70vh;
}