.jewelry-slider-container .slick-slide img {
  width: 100%;  
  height: auto; 
}

.jewelry-slider-container .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
}

.jewelry-slider-container {
  width: 100%; /* Задаёт ширину контейнера под слайдер */
  margin: auto;
}

/* Стили контейнера для точек */
.slick-dots {
  bottom: -25px; /* Позиционирование под слайдером */
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  margin: 0 5px;
  width: 30px; /* управляет шириной "линий" */
  height: 2px; /* управляет "толщиной" линий */
  background: #ccc; /* цвет линий */
}

.slick-dots li.slick-active {
  background: #333333; /* цвет активной линии */
}
/* Стили для кнопок внутри точек (обычно невидимы) */
.slick-dots li button:before {
  content: ''; /* Убираем стандартный точечный символ */
  font-size: 0;
}

.jewelry-main-photo {
  display: block;
  width: 100%; /* Изображения будут занимать всю ширину слайда */
  height: auto; /* Высота изменяется пропорционально */
}



.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay-top,
.text-overlay-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.text-overlay-top {
  top: 0;
}

.text-overlay-bottom {
  bottom: 0;
}

.no-photo {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

/* Медиа-запросы для адаптивной верстки */
@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}
