.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: Montserrat;
}

a {
  text-decoration: none;
  color: black;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background-color: white;
  width: 100vw;
}

.burgerAndMenu-actions {
  display: flex;
  align-items: flex-start;
  min-width: 60px;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin-left: 5px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition:
    box-shadow 0.3s 0.15s,
    top 0.3s 0.15s,
    transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition:
    bottom 0.3s 0.15s,
    transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition:
    box-shadow 0.15s,
    top 0.3s,
    transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition:
    bottom 0.3s,
    transform 0.3s 0.15s;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  padding-right: 10px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  height: 26px;
}
.burger::before,
.burger::after {
  content: '';
  left: 0;
  position: absolute;
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition:
    box-shadow 0.3s 0.15s,
    top 0.3s 0.15s,
    transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition:
    bottom 0.3s 0.15s,
    transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition:
    box-shadow 0.15s,
    top 0.3s,
    transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition:
    bottom 0.3s,
    transform 0.3s 0.15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20% 0 0 0;
  margin: 0;
  background: white;
  transform: translateX(-100%);
  transition: 0.3s;
  /* width: 200px; */
  z-index: 1;
  width: 100vw;
  height: 100vh;
  

}
.menu-item {
  display: block;
  padding: 15px;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100vw;
  border-bottom: 1px solid black;
  
}
.menu-list li:active{
  background-color: #111111;
  a{
    color: white;
  }
}

.menu-list li:last-child {
  margin-top: auto;
  display: flex;
  background-color: #111111;
  height: 65px;
  justify-content: center;
  align-items: center;  
  a{
    color: white;
    text-transform: uppercase;
  font-size: 18px;

  }
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.btnSearch {
  background-color: white;
  border: none;
}

.searchAndLK {
  display: flex;
  align-items: start;
  min-width: 60px;
}

.LK {
  background-image: url(/img/icons8-человек-64.png);
  background-size: 130% 130%;
  background-position: center;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.prom {
  width: 100vw;
  height: 50px;
}

.basketHeader {
  background-image: url(/img/2956820.png);
  background-size: 130% 130%;
  background-position: center;
  width: 35px;
  height: 35px;
  position: relative;
  transition: transform 0.3s ease-in-out; /* add transition effect */
}

.basketHeader.animate {
  transform: scale(1.1) rotate(10deg); /* add animation effect */
}


.numberBasket{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.footer{
  background-color: #282828;
  color: white;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  line-height: 20px;
}

.footerContainer{
  display: flex;
  justify-content: space-between;

}

.blocksFooter{
  display: flex;
  flex-direction: column;
}

.oNasFoot{
  margin-bottom: 20px;
}

.oNasFoot2{
  margin-top: 25px;
  line-height: 15px;

}

.noneVisab{
  opacity: 0;
}

.burgerFavorit{
  display: flex;
  min-width: 110px;
}

.favorites{
  margin-left: 10px;
}

.searchAndLK{
  min-width: 115px;
  justify-content: end;
}